
/*  Navigation  */

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c1c1c1;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.menu li a:hover {
  background-color: #8f8f8f;
}
.menu .active {
  background-color: #E8175D;
}

/*Body */

body {
  background-color: black;
  color: white;
}

/*Index*/
#chain-image {
  width: 370px;
  height: auto;
  float: left;

}
.description {
  float: left;
  margin: 70px;
  margin-left: 400px;
  font-size: 130%;
}
<<<<<<< HEAD
/*Form*/

#form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 130%;
}
#userMessage {
  width: 215px;
}
.field {
  margin-top: 30px;
}
#submit {
  padding: 10px;
  margin-top: 30px;
}

/*Order*/
#emailMissing, #nameError, #colorError, #messageError {
  display: none;
  padding: 7px;
  margin: 0 auto;
  border: 2px solid white;
  font-size: 79%;
  background-color: #E8175D;
  margin-top: 10px;
  width: 166px;
}
#emailError, #addressError {
  display: none;
  padding: 7px;
  margin: 0 auto;
  border: 2px solid white;
  font-size: 79%;
  background-color: #E8175D;
  margin-top: 10px;
  width: 180px;
}
#typeError{
  display: none;
  padding: 7px;
  margin: 0 auto;
  border: 2px solid white;
  font-size: 79%;
  background-color: #E8175D;
  margin-top: 10px;
  width: 200px;
=======

/* form development assisted/inspired by https://www.w3schools.com/html/html_forms.asp and
https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Your_first_HTML_form-->*/
form div{
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

label {
  display: inline-block;
  width: 140px;
}

input, textarea, select {
  font: sans-serif;
  width: 250px;
}

textarea {
  height: 80px;
  vertical-align: top;
}

button {
  margin-left: 140px;
}
/*(end)form development assisted/inspired by https://www.w3schools.com/html/html_forms.asp and
https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Your_first_HTML_form-->*/

#ordertxt {
  text-align: center;
  font-size: 32px;
  padding-top: 20px;
}

#ordertxt2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
>>>>>>> b1550cbe3a4dd76d74934e8e9ebe1edb5dd46bf8
}
