
/*  Navigation  */

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: rgb(219, 219, 219);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.menu li a:hover {
  background-color: rgb(23, 23, 23);
}
.menu .active {

  border: 2.5px solid #32cadd;
  background-color: rgb(23, 23, 23);


}

.menu .active {
  font-weight: bold;
}

/*Body */

body {
 	background-color: #d9d9d9;
  color: rgb(64, 64, 64);
  font-family: 'BarlowSemiCondensed', cursive;
}

/*Index*/
@font-face {
  font-family:"Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.ttf");
}
@font-face {
  font-family:"BarlowSemiCondensed";
  src: url("../fonts/BarlowSemiCondensed/BarlowSemiCondensed-Regular.ttf");
}
@font-face {
  font-family:"BarlowSemiCondensed-med";
  src: url("../fonts/BarlowSemiCondensed/BarlowSemiCondensed-Medium.ttf");
}



.header-container {
  background-color: white;
  padding: 12px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald', cursive!important;

}
.chainPic {
  width: 100%;

}

.subtext {
  font-family: 'Oswald', cursive!important;
  font-size: 100%;
  color: white;
  padding: 1px;
  background-color: black;
  width: 373px;
  margin: 0 auto;
  margin-bottom: 22px;
}
.otc {
  margin-bottom: 10px;
  font-size: 240%;
  margin-top: 22px;
  font-weight: 900;
  letter-spacing: 1px;
}
.wide {
  position: relative;
  text-align: center;
}


.bu {
  font-family: 'Oswald', cursive!important;
  padding: 5px;
  opacity: 0.7;
  color: black;
  background-color: rgb(226, 226, 226);
  text-decoration: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 130%;

}
.buttons {
  position: absolute;
  top: 152px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  margin: 0 auto;
}

.bu:hover {
  opacity: 1;
}

#bu_neck {
  width: 266px;
}

#bu_photo {
  width: 95px;
}

#bu_order {
  width: 145px;
}



.description {
  float: left;
  font-size: 220%;
  margin-left: 20px;
  color: rgb(224, 102, 186);
  font-style: italic;
}

.description2 {
  float: left;
  font-size: 140%;
  margin-left: 20px;

}

.description2 a {
  text-decoration: underline;
  color: black;
}

#logo {
  width: 100%;
}

/* form development assisted/inspired by https://www.w3schools.com/html/html_forms.asp and
https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Your_first_HTML_form-->*/
form div{
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

label {
  display: inline-block;
  width: 223px;
}

input, textarea, select {
  font: sans-serif;
  width: 250px;
}

textarea {
  height: 80px;
  vertical-align: top;
}

button {
  margin-left: 140px;
}
/*(end)form development assisted/inspired by https://www.w3schools.com/html/html_forms.asp and
https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Your_first_HTML_form-->*/

#ordertxt {
  text-align: center;
  font-size: 32px;
  padding-top: 20px;
}

.num {
  color: #98f4ff;
  text-shadow: 0px 1px 2px black;
  font-weight: 900;
  font-family: 'BarlowSemiCondensed-med';
}
.bigger {
  font-size: 150%;
}

#ordertxt2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
}

#ast {
  font-size: 16px;
  text-align: center;
  font-style: italic;
  color: #21bac6;
  margin: 0 auto;
  margin-bottom: 24px;
  font-weight: 600;
}
.as {
  color: #21bac6;
  font-weight: bold;
}
#reset {
  margin-bottom: 15px;
}

/* Hidden Messages*/
#emailMissing, #emailError, #nameError, #addressError, #typeError, #colorError, #messageError {
  display: none;
  padding: 7px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 630px;
  width: 189px;
  background-color: #32cadd;
  border: 2px solid white;
  font-size: 80%;
  color: black;
}

/*CSS code is inspired by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade*/

/*Necklaces*/
.description-overlay, .price-overlay {
  font-family: BarlowSemiCondensed;
}
.description-overlay p {
  width: 430px;
  font-family: BarlowSemiCondensed-med;
  font-size: 110%;
  color: black;
  font-weight: bold;
  margin-top: 12px;
  text-align: center;
}
#allnecklaces {
  margin-left: 86px;
}
.necklaces {
  position: relative;
  width: 40%;
  float: left;
  margin-left: 70px;
  margin-bottom: 80px;
  margin-top: 20px;

}

#neck_sub {
  width: 267px;
}

.pic {
  display: block;
  width: 430px;
  height: 330px;
}
.price-overlay  {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 330px;
   width: 430px;
   opacity: 0;
   transition: .5s ease;
   background-color: rgba(0, 0, 0, 0.76);
   text-align: center;
}
.price-overlay p {
  margin-top: 120px;
  font-size: 120%;
  color: white;
}
.necklaces:hover .price-overlay {
  opacity: 1;
}

/*reviews page*/
#reviews {
  padding: 0;
  padding-left: 32px;
  margin: 0;
  text-align: left;
}

#rev_sub{
  width: 366px;
}

.reviewB {
  font-size: 160%;
  color: black;
  font-family:"BarlowSemiCondensed";
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 7px;
  width: 88%;

}

.reviewA {
  font-size: 160%;
  font-family:"BarlowSemiCondensed";
  width: 88%;
}

/*About*/

#about_sub {
  width: 179px;
}

.about_Container {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
  padding-bottom: 26px;
}
#flexpic {
  flex: 1;
}
#information {
  flex: 2;
  margin-top: 38px;
}


#Jessename {
  font-weight: bold;
  text-transform: uppercase;
  font-family:'BarlowSemiCondensed-med', cursive;

}
.jessepic {
  display: block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: 3px 3px 3px;
  margin-left: 40px;
  margin-top: 40px;
}

.pix {
  display: block;
  width: 430px;
  height: 330px;
  padding: 20px;
}
.about {
  line-height: 180%;
  width: 94%;
}

.about a{
  color: black;
  padding: 3px;
  background-color: #32cadd;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
}
.header {

  background-color: rgb(105, 105, 105);
  padding: 5px;
  width: auto;
  margin-top: 15px;
}

.header p {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}
/*Image Grid inpsired by w3c*/
.column {
    float: left;
    width: 23%;
    padding: 11px;
    margin: 0 auto;
}
.row {
  margin: 0 auto;
  width: auto;
  margin-bottom: 18px;
}

.column img {
  margin-top: 16px;
  width: 100%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 749px) {
    .column {
      width: 50%;
      margin-left: 0px;
    }
    .grid_pic {
      width: auto;

    }
}




/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
   }
}
/*End of Image Grid Design inspired by w3c*/





/* slideshow styling inspired by w3c*/


/** {box-sizing:border-box}*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.active, .dot:hover {
  background-color: #717171;
}


.mySlides {
  display: none;
  margin: 0 auto;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.8);
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
}

.slidepic {
  height: 450px;
  width: auto;
  /*margin-top: 10px;
  margin-bottom: 10px;*/
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideCaption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}




/* Fading animation */
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}




#slide {
  display: block;
  margin: 0px auto;
  width: 500px;
}


#current_img {
  height: 400px;
}
/* (end)slideshow styling inspired by w3c*/

/*Gallery*/

#gal_sub {
  width: 195px;
}

/*Footer*/
.footer {
  background-color: white;
  font-family: 'BarlowSemiCondensed-med', cursive;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 23px;
  top: 0px;
}


#follow {
  text-align: center;
  padding-top: 20px;
  font-size: 150%;
  margin-top: -4px;
  margin-bottom: 5px;
  top: 0px;

}
/* clear floats */
.clear {
  clear: both;
}
.social {
  width: 100px;
  height: auto;
  margin-left: 20px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:         drop-shadow(2px 2px 2px #222);
}
.social_link {
  color: white;
}
