
/*  Navigation  */

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c1c1c1;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.menu li a:hover {
  background-color: #8f8f8f;
}
.menu .active {
  background-color: #E8175D;
}

/*Body */

body {
  background-color: black;
  color: white;
}

/*Index*/
#chain-image {
  width: 370px;
  height: auto;
  float: left;

}
.description {
  float: left;
  margin: 70px;
  margin-left: 400px;
  font-size: 130%;
}
/*Form*/

#form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 130%;
}
#userMessage {
  width: 215px;
}
.field {
  margin-top: 30px;
}
#submit {
  padding: 10px;
  margin-top: 30px;
}

/*Order*/
#emailMissing, #nameError, #colorError, #messageError {
  display: none;
  padding: 7px;
  margin: 0 auto;
  border: 2px solid white;
  font-size: 79%;
  background-color: #E8175D;
  margin-top: 10px;
  width: 166px;
}
#emailError, #addressError {
  display: none;
  padding: 7px;
  margin: 0 auto;
  border: 2px solid white;
  font-size: 79%;
  background-color: #E8175D;
  margin-top: 10px;
  width: 180px;
}
#typeError{
  display: none;
  padding: 7px;
  margin: 0 auto;
  border: 2px solid white;
  font-size: 79%;
  background-color: #E8175D;
  margin-top: 10px;
  width: 200px;
}
